.lock-screen {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.lock-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    padding: 40px;
}

.user-thumb img {
    height: 88px;
    margin: 0px auto;
    width: 88px;
    border-radius: 50%;
}
.password-icon{
    position: absolute;
    top: 13.5px;
    right: 15px;
    cursor: pointer;
}

.user-thumb{
    text-align: center;
}
@media (min-width: 650px ) {
    .lock-screen {
        background-position: center center;
    }

    .lock-content {
        /* align-items: flex-end; */
        justify-content: center;
    }
    .user-thumb img {
        height: 88px;
        margin: 0px auto;
        width: 88px;
        border-radius: 50%;
    }
    .user-thumb{
        text-align: center;
    }
}