
/* .password-login-icon{
    position: absolute;
    top: 60%;
    right: 15px;
    cursor: pointer;
} */
.password-login-icon {
    position: absolute;
    top: 60%;
    right: 20px;
    cursor: pointer;
}

@media (min-width: 650px ) {
    /* .password-login-icon{
        position: absolute;
        top: 60%;
        right: 15px;
        cursor: pointer;
    } */
    .password-login-icon {
        position: absolute;
        top: 60%;
        right: 20px;
        cursor: pointer;
    }
}