
.password-signup-icon{
    position: absolute;
    top: 60%;
    right: 15px;
    cursor: pointer;
}

@media (min-width: 650px ) {
    .password-signup-icon{
        position: absolute;
        top: 60%;
        right: 15px;
        cursor: pointer;
    }
}